body {
    background-color: rgb(84, 230, 193);
}

table {
    background-color: rgb(212, 17, 17);
    position: relative;
    left: 15px;
    right: 15px;
    height: 40px;
    width: 45px;
}

h1 {
    background-color: rgb(255, 251, 251);
    font-family: sans-serif;
}

p {
    background-color: rgb(211, 146, 85);
    font-family: sans-serif;
}

.numero {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
}